server:
  port: 8080

spring:
  application:
    name: api-gateway

  config:
    import: optional:configserver:http://config-server:8888

  cloud:
    config:
      uri: http://config-server:8888
      fail-fast: true
      retry:
        max-attempts: 20
        max-interval: 2000
        initial-interval: 1000

---

spring:
  config:
    activate:
      on-profile: prod

  cloud:
    gateway:
      httpserver:
        max-header-size: 65536

      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
        - AddResponseHeader=X-Frame-Options, ALLOWALL

      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origin-patterns:
              - "http://frontend:3000"
              - "http://localhost:3000"
            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowed-headers: "*"
            allow-credentials: true

      routes:
        - id: usuarios-service
          uri: lb://usuarios-service
          predicates:
            - Path=/api/admin/**

        - id: solicitudes-service
          uri: lb://solicitudes-service
          predicates:
            - Path=/api/solicitudes-centro-medico/**

        - id: formularios-service
          uri: lb://formularios-service
          predicates:
            - Path=/api/formularios/**

        - id: juegos-service
          uri: http://juegos-service:9094
          predicates:
            - Path=/api/juegos/**
          filters:
            - RewritePath=/api/juegos/(?<segment>.*), /games/${segment}

      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${random.uuid}
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true
    health:
      show-details: always
